@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Public+Sans:wght@300;400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;

}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 80px;
}

.header .header_logo {
  width: 33%;
  display: flex;
  justify-content: center;
}

.header .header_logo .logo {
  width: 50%;
  height: 30%;
  display: flex;
  align-self: center;
}

.header .header_data {
  width: 30%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-self: center;
}

.header .header_invite {
  width: 36%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-size: 0.7em;
}

.header .header_invite .header_invite_order {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 60%;
  background-color: cornflowerblue;
  width: 40%;
  align-self: center;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contenedor {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto
  
}

.contenedor .body_banking {
  display: flex;
  flex-direction: row;
  height: 450px;
  background-color: rgb(248, 242, 242);

}

.contenedor .body_banking .body_banking_data {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  justify-content: center;
}

.contenedor .body_banking .body_banking_data .body_banking_data_tittle{
    display: flex;
    flex-direction: column;
    font-size: 2.3em;
    width: 55%;
  }

  .contenedor .body_banking .body_banking_data .body_banking_data_p{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    color: gray;
    width: 55%;
    margin:10px auto
  }

  .contenedor .body_banking .body_banking_data .body_banking_data_invite{
  width: 55%;
  display: flex;
  justify-content: flex-start;
  }

  .contenedor .body_banking .body_banking_data .body_banking_data_invite > button{ 
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
    width: 50%;
    background-color: hsl(136, 65%, 51%);
    border: none;
    color: white;
    }



  .contenedor .body_banking .body_banking_img {
  display: flex;
  width: 55%;
  background-image: url("/images/bg-intro-desktop.svg");
  background-position:30px -170px;
  background-repeat: no-repeat;
  background-size: 110%;
  position: relative;
}

.contenedor .body_banking .body_banking_img > img{
  height: 160%;
  top: -130px;
  left: 150px;
  position: absolute ;
}


